body {
  font-family: Arial, sans-serif;
  padding: 10px;
}

.input {
  font-size: 16px;
  margin: auto;
  padding: 5px 10px;
  box-sizing: border-box;
}
.nombre {
  width: 200px;
}
.cantidad {
  width: 110px;
}
button {
  padding: 2px 10px;
}